
#searchContainer {
    z-index: 2;
    position: absolute;
    left: 50%;
    padding-top: 5px;
    width: 30rem;
    margin-left: -15rem;
}

#searchContainer .ui.search .ui.input {
    width: 100%;
}